
.s-button {
	display: inline-block;
	position: relative;
	padding: 10px 30px;
	border: 1px solid #999;
	border-radius: 5px;
	background: #dadace;
	background: linear-gradient(#eed, #ccb);
	font: inherit;
	line-height: 1.4em;
	text-decoration: none;
	color: #332!important;
	cursor: default;
}

.s-files {
	border-collapse: collapse;
	border: 1px dotted #eee;
	margin: 20px 0;
}

.s-files td {
	line-height: 23px;
	white-space: nowrap;
	border: 1px dotted #eee;
	padding: 2px 10px;
}

.s-file-name {
	width: 250px;
}

.s-file-size {
	width: 120px;
}

.s-file-date {
	width: 120px;
	text-align: right;
}

.s-file-fmt {
	width: 120px;
	text-align: center;
}

.s-file-status {
	width: 120px;
}

.s-file-msg {
	width: 240px;
}

.s-file-name input {
	margin-right: 5px;
	vertical-align: -2px;
}



.s-upload-spacer {
	height: 20px;
}

.s-upload-progress {
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 5px;
	background: #eed;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.s-upload-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #0c0;
	background: linear-gradient(#0d0, #0b0);
}

.s-upload-progress-text {
	position: relative;
	padding: 3px 10px;
	color: #030;
}

.s-upload-control {
	float: right;
	margin-left: 20px;
}

#upload-box .s-files {
	margin-bottom: 50px;
}

.s-file-error:before {
    content: "\f06a"; /* exclamation circle */
    color: #c00;
}


.s-form-label {
	display: inline-block;
	width: 120px;
}

.s-form-wrap {
	margin-bottom: 10px;
}

.s-form-wrap input,
.s-form-wrap select {
	width: 400px;
	height: 25px;
}