
.s-group {
	width: 100%;
	min-height: 500px;
	margin-bottom: 80px;
}

.s-group-header {
	padding: 10px 30px;
	margin: 10px 0 20px;
	background: #eeeee6;
	border-radius: 5px;
	color: #220;
}

.s-group-header-menu {
	float: right;
}

.s-group-header-label {
	font-size: 15px;
}

.s-group-header-title {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;
	font-size: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-group h2 {
	position: absolute;
	top: -27px;
	left: 10px;
	cwidth: 200px;
	margin: 15px 0 5px;
	padding: 2px 10px;
	font-size: 10pt;
	font-weight: normal;
	color: #a07;
	background: #f8f8f2;
	text-shadow: 1px 1px 3px #ddc;
}


.s-group-section {
	position: relative;
	margin: 12px 0;
	padding: 8px 0 0 27px;
	border: 1px solid #eed;
	border-top-left-radius: 5px;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.s-group-box {
	position: relative;
	padding: 10px 0 0 200px;
}

.s-group-box+.s-line {
	margin-top: 7px;
	border-top: 1px solid #eed;
}

.s-group-box h3 {
	position: absolute;
	top: 10px;
	left: 0px;
	margin: 0;
	font-weight: normal;
	font-size: 9pt;
	color: #665;
}

.s-group ul {
	margin: 0;
	padding: 0;
}

.s-group li {
	list-style: none;
	line-height: 1.4em;
	white-space: nowrap;
}

.s-group-siblings>li {
	white-space: nowrap;
	font-size: 85%;
	line-height: 1.8em;
}

.s-group-siblings>li:first-child {
	color: #665;
}

.s-group-siblings>li>span:first-child {
	display: inline-block;
	width: 150px;
}

.orthologs {
	margin-bottom: 25px;
}

.s-group-ortho {
	border-radius: 3px;
	line-height: 1.6em;
}

.s-group-ortho:nth-child(odd){
	background: #f8f8f2;
}

.s-group-ortho-organism {
	font-weight: bold;
}

.s-group-ortho-gene {
	white-space: nowrap;
}

.s-group-ortho-gene:nth-child(odd){
	background: #fcfcf9;
}

.s-group-ortho-headers {
	margin-bottom: 10px;
	padding-left: 27px;
	color: #663;
}

.s-group-ortho-headers>div {
	display: inline-block;
	vertical-align: top;
}

.s-group-ortho-header-left {
	width: 570px;
}

.s-group-ortho-header-aas {
	width: 35px;
}

.s-group-ortho-header-exons {
	width: 50px;
}

.s-group-ortho-gene>div {
	display: inline-block;
	vertical-align: top;
}

.s-group-ortho-index {
	width: 25px;
	text-align: center;
	font-size: 11px;
	color: #998;
}

.s-group-ortho-ids {
	overflow: hidden;
	width: 563px;
	text-overflow: ellipsis;
}

.s-group-ortho-aas {
	width: 45px;
	text-align: center;
}

.s-group-ortho-exons {
	width: 20px;
	text-align: center;
}

.s-group-ortho-search {
	width: 20px;
	text-align: right;
	padding-top: 1px;
}

.s-link-synonyms>a,
.s-link-phenotypes>a {
	display: inline-block;
	overflow: hidden;
	width: 14px;
	height: 14px;
	color: transparent;
	background: center center no-repeat;
	text-decoration: none;
	vertical-align: middle;
}

.s-link-synonyms>a:before {
	content: url(../images/synonym-icon.png);
}

.s-link-phenotypes>a:before {
	content: url(../images/phenotype-icon.png);
}

.s-group-ortho-search>a {
    font: normal normal normal 14px/1 icons;
    font-size: 13px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color: #998;
}

.s-group-ortho-search>a:before {
	content: "\f002";
}


.s-group-gene-architecture td {
	min-width: 70px;
	text-align: center;
}

.s-group-gene-architecture td:first-child {
	text-align: left;
}


.s-group-evolutionary-rate,
.s-group-evolutionary-rate-chart {
	display: inline-block;
	line-height: 17px;
}

.s-group-evolutionary-rate {
	margin: 0 10px 0 0;
}


.s-rainbow {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	border-left: 15px solid transparent;
	margin-left: 1px;
}

.s-rainbow-mark:before {
	content: "\f005"; /* star */
	position: absolute;
	left: -15px;
	top: 0;
	width: 15px;
	text-align: center;
	vertical-align: middle;

    font: normal normal normal 11px/1 icons;
	line-height: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.s-rainbow-0 {border-color: #2857FF}
.s-rainbow-1 {border-color: #3D87FF}
.s-rainbow-2 {border-color: #57B0FF}
.s-rainbow-3 {border-color: #75D3FF}
.s-rainbow-4 {border-color: #99EAFF}
.s-rainbow-5 {border-color: #BCF9FF}
.s-rainbow-6 {border-color: #FFFFFF}
.s-rainbow-7 {border-color: #FFF1BC}
.s-rainbow-8 {border-color: #FFD799}
.s-rainbow-9 {border-color: #FFAC75}
.s-rainbow-10 {border-color: #FF7857}
.s-rainbow-11 {border-color: #FF3D3D}
.s-rainbow-12 {border-color: #F72735}

.s-deviation-l2:before,
.s-deviation-g2:after {
	content: "!!";
}

.s-deviation-l1:before,
.s-deviation-g1:after {
	content: "!";
}

