
#selection-box {
	margin: 5px 0;
	border: 1px solid #666;
	border-radius: 3px;
	background: #fff;
}

#selection-box>ul {
	min-height: 24px;
	max-height: 300px;
	width: 100%;
}

#selection-box .fancytree-node {
	height: 17px;
	line-height: 15px;
}

#selection-box .fancytree-expander {
	display: none;
}

.selection-alias {
	font-style: italic;
}

.selection-alias:before {
	content: "(";
}

.selection-alias:after {
	content: ")";
}

.selection-folder {
	font-weight: bold;
	font-size: 12px;
	color: #332;
}

#selection-box .fancytree-selected>.fancytree-checkbox:before {
	content: "\f08b"; /* square out */
}

#selection-box .s-unselectable>.fancytree-checkbox {
	width: 12px;
	line-height: 12px;
	color: #887;
    cursor: default;
}

#selection-box .s-unselectable>.fancytree-checkbox:before {
	content: "\f00c"; /* check */
	font-size: 11px;
}

#selection-box .s-unselectable.fancytree-has-children>.fancytree-checkbox:before {
	content: "\f069"; /* asterix */
	font-size: 10px;
}

.selection-remove:before {
	content: "\f05e"; /* ban */
}

.selection-remove {
	color: #ccb;
	text-decoration: none;
}

.selection-remove:hover {
	color: #906;
}

.fancytree-title:hover>.selection-remove{
	visibility: visible;
}

.selection-examples-cmd {
	font-size: 11px;
	line-height: 1.3em;
	vertical-align: top;
}