
<h2>Evolutionary Rate</h2>

<table><tr>
	<td>{{evolutionary_rate}}</td>
	<td>&nbsp;</td>
	<td bgcolor="#2857FF" width="15px">&nbsp;</td>
	<td bgcolor="#3D87FF" width="15px">&nbsp;</td>
	<td bgcolor="#57B0FF" width="15px">&nbsp;</td>
	<td bgcolor="#75D3FF" width="15px">&nbsp;</td>
	<td bgcolor="#99EAFF" width="15px">&nbsp;</td>
	<td bgcolor="#BCF9FF" width="15px">&nbsp;</td>
	<td bgcolor="#FFFFFF" width="15px">&nbsp;</td>
	<td bgcolor="#FFF1BC" width="15px">&nbsp;</td>
	<td bgcolor="#FFD799" width="15px">&nbsp;</td>
	<td bgcolor="#FFAC75" width="15px">&nbsp;</td>
	<td bgcolor="#FF7857" width="15px">&nbsp;</td>
	<td bgcolor="#FF3D3D" width="15px">&nbsp;</td>
	<td bgcolor="#F72735" width="15px">&nbsp;</td>
</tr></table>
