
{{#with data}}

	<div class="s-group-header">
		<div class="s-group-header-menu">View Fasta | View Tab Delimited | Back to Top</div>
		<div class="s-group-header-label">Group</div>
		<div class="s-group-header-public-id">{{public_id}}</div>
		<div class="s-group-header-count">{{plural gene_count "gene" "genes"}} in {{species_count}} species</div>
		<div class="s-group-header-title">{{name}}</div>
	</div>

	{{> gene_onthologies }}
	{{> interpro_domains }}

	<div class="s-group-box">{{> gene_architecture }}</div>
	<div class="s-group-box">{{> phyletic_profile }}</div>

	{{> evolutionary_rate }}

	<div class="orthologs"></div>
	<div class="siblings"></div>

{{/with}}