{{#is type "text"}}{{id}}{{/is}}
{{#is type "generic"}}<a href="{{param}}" target="_new">{{id}}</a>{{/is}}
{{#is type "amigo"}}<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{id}}" target="amigo" title="Lookup {{id}} @ AmiGO">{{id}}</a>{{/is}}
{{#is type "interpro"}}<a href="http://www.ebi.ac.uk/interpro/entry/{{id}}" target="interpro" title="Lookup {{id}} @ InterPro">{{id}}</a>{{/is}}
{{#is type "taxonomy"}}<a href="http://uniprot.org/taxonomy/?query={{param}}&sort=score" target="taxonomy" title="Seacrh UniProt for {{param}}">{{id}}</a>{{/is}}
{{#is type "ncbi"}}<a href="http://www.ncbi.nlm.nih.gov/protein/{{id}}" target="taxonomy" title="Seacrh NCBI">{{id}}</a>{{/is}}
{{#is type "uniprot"}}<a href="http://www.uniprot.org/uniprot/?query={{id}}" target="taxonomy" title="Seacrh UniProt">{{id}}</a>{{/is}}
