
generic:	<a href="{{param}}" target="_new">{{id}}</a>

amigo:		<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{id}}" title="Lookup {{id}} @ AmiGO" target="{{type}}">{{id}}</a>
interpro:	<a href="http://www.ebi.ac.uk/interpro/entry/{{id}}" title="Lookup {{id}} @ InterPro" target="{{type}}">{{id}}</a>
uniprot:	<a href="http://www.uniprot.org/uniprot/?query={{id}}" title="Seacrh UniProt" target="{{type}}">{{id}}</a>
taxonomy:	<a href="http://www.uniprot.org/taxonomy/?query={{param}}&sort=score" title="Seacrh UniProt for {{param}}" target="{{type}}">{{id}}</a>
ncbi:		<a href="http://www.ncbi.nlm.nih.gov/protein/{{id}}" title="Seacrh NCBI" target="{{type}}">{{id}}</a>
ensembl:	<a href="http://www.ensembl.org/{{param}}/Gene/Summary?g={{id}}" title="Seacrh Ensembl" target="{{type}}">{{id}}</a>
