
<h2>Orthologs by organism</h2>

{{#each data}}
	<div class="s-group-ortho">
		<div class="s-group-ortho-organism">
			<div>{{#with organism}}{{link}}{{/with}}</div>
			<div>{{organism.param}}</div>
		</div>

		{{#each genes}}
		<div class="s-group-ortho-gene">
			<div class="s-group-ortho-interpro">
				{{#each interpro}}{{link}} {{/each}}
			</div>
			<div class="s-group-ortho-ids">
				{{#with gene_id}}{{link}}{{/with}}
				({{#with uniprot}}{{link}}{{/with}})
			</div>
			<div class="s-group-ortho-aas">
				{{aas}}
			</div>
			<div class="s-group-ortho-exons">
				{{exons}}
			</div>
			<div class="s-group-ortho-description">
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>
{{/each}}
