{{#each .}}
	<div>
		<span class="s-annotations-label">
			{{#is @key "uniprot"}}<img src="static/images/uniprot.png">UniProt:
			{{else is @key "ensembl"}}<img src="static/images/ensembl.png">Ensembl:
			{{else is @key "entrez"}}<img src="static/images/entrez.png">Entrez:
			{{else is @key "EntrezGene"}}<img src="static/images/entrez.png">Entrez:
			{{else is @key "GO_BiologicalProcess"}}<img src="static/images/go.png">Biological Process:
			{{else is @key "GO_MolecularFunction"}}<img src="static/images/go.png">Molecular Function:
			{{else is @key "GO_CellularComponent"}}<img src="static/images/go.png">Cellular Component:
			{{else}}{{@key}}:{{/is}}
		</span>

		{{#if length}}
			{{#each .}}{{#if @index}}; {{/if}}{{link}}{{/each}}
		{{else}}
			{{link}}
		{{/if}}
	</div>
{{/each}}