
<h1>Your files</h1>

{{#if showUpload}}

<div class="s-form-wrap">
	<span class="s-form-label">Sample name:</span>
	<input id="sampleName" type="text" />
</div>

<div class="s-form-wrap">
	<span class="s-form-label">Sample type:</span>
	<input id="sampleType" type="text" />
</div>

<div class="s-form-wrap">
	<span class="s-form-label">Technology:</span>
	<select id="technology">
		<option></option>
		<option>Illumina - Single-End</option>
		<option>Illumina - Paired-End</option>
		<option>PacBio</option>
		<option>Oxford Nanopore</option>
	</select>
</div>

<div class="s-form-wrap">
	<span class="s-form-label">Adapters:</span>
	<input id="adapters" type="text" />
</div>

<span id="upload-button" class="s-button">Upload</span>

<div id="upload-box" onmousedown="app.uploadUpdates(false)" onmouseup="app.uploadUpdates(true)"></div>

{{/if}}

{{#if data}}

	<table class="s-files">
	{{#each data}}
		<tr>
			<td class="s-file-name"><label><input type="radio" name="selected-file" value="{{name}}" {{#if @index}}{{else}}checked{{/if}}>{{name}}</label></td>
			<td class="s-file-size">{{numeral size "0.0 b"}}</td>
			<td class="s-file-date">{{moment date "DD-MMM-YYYY"}}</td>
			<td class="s-file-fmt">{{filefmt}}</td>
			<td class="s-file-status">{{status}}</td>
		</tr>
	{{/each}}
	</table>

{{else}}
	No files are uploaded yet.
{{/if}}


