
generic:	<a title="{{#if description}}{{description}}{{else}}{{id}}{{/if}}">{{id}}</a>

amigo:		<a href="http://amigo.geneontology.org/cgi-bin/amigo/term_details?term={{id}}" title="Lookup {{id}} @ AmiGO" target="{{type}}">{{id}}</a>
interpro:	<a href="http://www.ebi.ac.uk/interpro/entry/{{id}}" title="Lookup {{id}} @ InterPro" target="{{type}}">{{id}}</a>
uniprot:	<a href="http://www.uniprot.org/uniprot/?query={{id}}" title="Search UniProt" target="{{type}}">{{id}}</a>
taxonomy:	<a href="http://www.uniprot.org/taxonomy/{{id}}" title="UniProt taxonomy for {{id}}" target="{{type}}">{{param}}</a>
ncbi:		<a href="http://www.ncbi.nlm.nih.gov/protein/{{id}}" title="Search NCBI" target="{{type}}">{{id}}</a>
ensembl:	<a href="http://www.ensembl.org/{{param}}/Gene/Summary?g={{id}}" title="Search Ensembl" target="{{type}}">{{id}}</a>
omim:		<a href="http://omim.org/entry/{{id}}" title="{{description}}" target="{{type}}">{{id}}</a>
