
<div class="s-group-section">
	<h2>Orthologs by organism</h2>

	{{#if show_switch}}
		<div class="s-group-ortho-switch">
			<input id="ortho-switch-{{group.index}}" type="checkbox" {{#if show_selected}}checked{{/if}}/>
			<label for="ortho-switch-{{group.index}}">Selected species only</label>
		</div>
	{{/if}}
</div>


<div class="s-group-ortho-headers">
	<div class="s-group-ortho-header-left">Organism | Protein ID | UniProt | Description</div>
	<div class="s-group-ortho-header-aas">AAs</div>
	<div class="s-group-ortho-header-exons">Exons</div>
	<div class="s-group-ortho-header-interpro">InterPro</div>
</div>

{{#each data}}
	<div class="s-group-ortho">
		<div class="s-group-ortho-organism">
			{{#with organism}}{{link}}{{/with}}
			{{#is species_statistics.mapping_type "M"}}<span class="s-mapping-type s-mapping-m" title="Mapped">M</span>{{/is}}
			{{#is species_statistics.mapping_type "U"}}<span class="s-mapping-type s-mapping-u" title="User">U</span>{{/is}}
		</div>

		{{#each genes}}
		<div class="s-group-ortho-gene">
			<div class="s-group-ortho-index">{{#gt ../genes.length 1}}{{add @index 1}}{{/gt}}</div>
			<div class="s-group-ortho-ids" {{#if more_info}} onclick="app.showAnnotations('{{gene_id.param}}', event)" {{/if}}>
				<div class="s-group-ortho-ids-wrap">
					{{#with gene_id}}{{link}}{{/with}}
					{{#with uniprot}}({{link}}){{/with}}
					{{#with synonyms}}<span class="s-link-synonyms">{{link}}</span>{{/with}}
					{{#with phenotypes}}<span class="s-link-phenotypes">{{link}}</span>{{/with}}
					{{description}}
				</div>
				{{#if more_info}}
					<div class="s-group-ortho-toggle s-icon" title="Expand/collapse"></div>
				{{/if}}
			</div>
			<div class="s-group-ortho-aas">
				{{#with ../../group.gene_architecture}}{{deviation ../aas protein_median_length protein_stdev_length}}{{/with}}
			</div>
			<div class="s-group-ortho-exons">
				{{exons}}
			</div>
			<div class="s-group-ortho-search">
				{{#if interpro}}<a title="Search OrthoDB for proteins with {{#each interpro}}{{id}} {{/each}}" href="?level={{../../../params.level}}&species={{../../../params.species}}&query={{#each interpro}}{{id}} {{/each}}" onclick="app.href(event, this)"></a>{{/if}}
			</div>
			<div class="s-group-ortho-interpro">
				{{#each interpro}}{{link}} {{/each}}
			</div>
			{{#if more_info}}
				<div class="s-group-ortho-annotations"></div>
			{{/if}}
		</div>
		{{/each}}
	</div>
{{/each}}
