
<h2>Orthologs by organism</h2>

<div class="s-group-ortho-headers">
	<div class="s-group-ortho-header-interpro">InterPro</div>
	<div class="s-group-ortho-header-exons">Exons</div>
	<div class="s-group-ortho-header-aas">AAs</div>
	<div class="s-group-ortho-header-left">Organism | Gene ID | UniProt | Description</div>
</div>

{{#each data}}
	<div class="s-group-ortho">
		<div class="s-group-ortho-organism">
			<div>{{#with organism}}{{link}}{{/with}}</div>
			<div>{{organism.name}}</div>
		</div>

		{{#each genes}}
		<div class="s-group-ortho-gene">
			<div class="s-group-ortho-interpro">
				{{#each interpro}}{{link}} {{/each}}
			</div>
			<div class="s-group-ortho-search">
				{{#if interpro}}<a title="Search OrthoDB for proteins with {{#each interpro}}{{id}} {{/each}}" href="javascript:app.search('{{#each interpro}}{{id}} {{/each}}')"></a>{{/if}}
			</div>
			<div class="s-group-ortho-exons">
				{{exons}}
			</div>
			<div class="s-group-ortho-aas">
				{{#with ../../group.gene_architecture}}{{deviation ../aas protein_median_length protein_stdev_length}}{{/with}}
			</div>
			<div class="s-group-ortho-ids">
				{{#gt ../genes.length 1}}<span class="s-group-ortho-index">{{add @index 1}}</span>{{/gt}}
				{{#with gene_id}}{{link}}{{/with}}
				({{#with uniprot}}{{link}}{{/with}})
				{{#with synonyms}}<span class="s-link-synonyms">{{link}}</span>{{/with}}
				{{#with phenotypes}}<span class="s-link-phenotypes">{{link}}</span>{{/with}}
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>
{{/each}}
