
{{#if data}}

	<div class="s-group-section">
		<h2>Sibling Groups</h2>

		<ul class="s-group-siblings">
			<li><span>Group</span><span>InterPro domains</span></li>

		{{#each data}}
			<li><span><a href="javascript:app.search('{{id}}')" title="{{id}}">{{id}}</a></span><span>{{description}}</span></li>
		{{/each}}

		{{#if show_switch}}
			<li><span>{{#if show_all}}...{{/if}}</span><span><a href="javascript:app.showSiblings({{index}}, {{show_all}})">Show {{#if show_all}}all siblings{{else}}top 5 only{{/if}}</a></span></li>
		{{/if}}
		</ul>
	</div>
{{/if}}