
<div class="s-summary-text">
Your search
	{{#if params.query}}for <b>{{params.query}}</b>{{/if}}
	{{#if response.level}}at {{clade response.level}} level{{/if}}
returned
	{{#if response.data}}{{plural response.count "group" "groups"}}{{else}}no results{{/if}}<br>
	{{#if params.universal}}that span {{phyloprofile params.universal}} species{{/if}}
	{{#if params.singlecopy}}{{#if params.universal}}and {{/if}}single-copy in {{phyloprofile params.singlecopy}} species{{/if}}
</div>
<div class="s-summary-links">
	{{#if response.data}}
		<a id="all-fasta" href="fasta?query={{params.query}}&level={{params.level}}&species={{params.species}}&universal={{params.universal}}&singlecopy={{params.singlecopy}}" target="fasta">Get All Fasta</a> <!--(<input id="skip-multicopy" type="checkbox"><label for="skip-multicopy">skip all multicopy</label>)--> |
		<a id="all-tab" href="tab?query={{params.query}}&level={{params.level}}&species={{params.species}}&universal={{params.universal}}&singlecopy={{params.singlecopy}}" target="tab">Get All as Tab delimited</a>
	{{/if}}
</div>