
@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?n5dems');
	src:url('../fonts/icons.eot?#iefixn5dems') format('embedded-opentype'),
		url('../fonts/icons.woff?n5dems') format('woff'),
		url('../fonts/icons.ttf?n5dems') format('truetype'),
		url('../fonts/icons.svg?n5dems#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

#selection-box {
	margin: 5px 0;
	border: 1px solid #666;
	border-radius: 3px;
	background: #fff;
}

#selection-box>ul {
	min-height: 24px;
	max-height: 300px;
	width: 100%;
}

#selection-box .fancytree-node {
	height: 17px;
	line-height: 15px;
}

#selection-box .fancytree-expander {
	display: none;
}

#full-tree {
	width: 100%;
	margin-top: 20px;
}

.tree-folder {
	display: inline-block;
	padding-left: 7px;
	border-radius: 4px;
	vertical-align: middle;
	color: #554;
	background: #ecece2;
	font-weight: bold;
	font-size: 12px;
	box-shadow: inset 1px 1px #ddc, inset -1px -1px #ddc;
}

.tree-count {
	display: inline-block;
	margin-left: 8px;
	padding: 0 5px;
	border-radius: 4px;
	background: #bba;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
	text-shadow: 1px 1px 3px #665;
	box-shadow: inset 1px 1px 0px #aa9;
}

.tree-top .tree-count {
	line-height: 22px;
}

.tree-examples {
	display: inline-block;
	font-style: italic;
	vertical-align: middle;
}

.tree-examples:before {
	content: "e.g. ";
}

.selection-alias,
.tree-alias {
	font-style: italic;
}

.selection-alias:before,
.tree-alias:before {
	content: "(";
}

.selection-alias:after,
.tree-alias:after {
	content: ")";
}

.selection-folder {
	font-weight: bold;
	font-size: 12px;
	color: #332;
}

/* fancytree skin */

ul.fancytree-container {
	border: none;
	background: transparent;
}

ul.fancytree-container:focus {
	outline: none;
}

span.fancytree-title {
  border: 1px solid transparent;
  border-radius: 0;
}

span.fancytree-focused span.fancytree-title {
  outline: none;
}

span.fancytree-selected span.fancytree-title,
span.fancytree-active span.fancytree-title {
  background-color: transparent;
}

span.fancytree-selected span.fancytree-title {
  font-style: normal;
}

.fancytree-treefocus span.fancytree-selected span.fancytree-title,
.fancytree-treefocus span.fancytree-active span.fancytree-title {
  color: inherit;
  background-color: transparent;
}

span.fancytree-checkbox {
	background: none!important;
    font: normal normal normal 14px/1 icons;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
    width: 14px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
}

span.fancytree-expander {
    vertical-align: middle;
}

span.fancytree-title {
    vertical-align: middle;
}

/*

\f096 - square outline
\f0c8 - square full

\f046 - square outline checked
\f14a - square full checked

\f10c - circle outline
\f192 - circle outline checked

\f08b - square out
\f00c - check
\f069 - asterix

*/

.fancytree-checkbox:hover  {
    color: #c06;
}

.fancytree-checkbox:before {
    content: "\f096"; /* square outline */
}

.fancytree-partsel>.fancytree-checkbox:before {
	content: "\f0c8"; /* square full */
    color: #b36;
}

.fancytree-selected>.fancytree-checkbox:before {
	content: "\f14a"; /* square full checked */
    color: #a36;
}

#selection-box .fancytree-selected>.fancytree-checkbox:before {
	content: "\f08b"; /* square out */
}

#selection-box .s-unselectable>.fancytree-checkbox {
	width: 12px;
	line-height: 12px;
	color: #887;
    cursor: default;
}

#selection-box .s-unselectable>.fancytree-checkbox:before {
	content: "\f00c"; /* check */
	font-size: 11px;
}

#selection-box .s-unselectable.fancytree-has-children>.fancytree-checkbox:before {
	content: "\f069"; /* asterix */
	font-size: 10px;
}
