
#selection-box {
	overflow: auto;
	width: 100%;
	min-height: 30px;
	max-height: 200px;
	margin: 5px 0;
	border: 1px solid #666;
	border-radius: 3px;
	background: #fff;
}

#full-tree {
	width: 100%;
	margin-top: 20px;
}

ul.fancytree-container {
	border: none;
	background: transparent;
}

ul.fancytree-container:focus {
	outline: none;
}

.tree-title-top {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 1px 5px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 110%;
}

.tree-title-folder {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 0px 4px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 90%;
}

.tree-title-example {
	display: inline-block;
	font-style: italic;
	vertical-align: middle;
}

.tree-title-latin {
	font-style: italic;
}

